<% if defined?(@gossip) && @gossip.errors.any? %>
  <div class="alert alert-danger text-center">
    <p>Erreur lors de la création du gossip : </p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag gossips_path, method: "post", class: "mt-4" do %>

    <div class="mb-3">
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', nil, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= label_tag 'Content'%>
      <%= text_area_tag 'content', nil, class: "form-control" %>
    </div>
  
    <%= submit_tag "Crée mon gossip", class: "btn btn-primary" %>
  
  <% end %>
