<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1>Profil de <%= Gossip.find(@id).user.first_name %> </h1>
        <p>
            first_name : <%= Gossip.find(@id).user.first_name %><br/>
            last_name : <%= Gossip.find(@id).user.last_name %><br/>
            description : <%= Gossip.find(@id).user.description %><br/>
            email : <%= Gossip.find(@id).user.email %><br/>
            age : <%= Gossip.find(@id).user.age %><br/>
            city : <%= Gossip.find(@id).user.city.name %><br/>
        </p>
        <%= Gossip.where(user_id:@id).each do |gossip|%>
            <div class="card shadow-sm">
                    <p><%= puts gossip.title %></p>
                    <p> <%= link_to "Gossip", gossip_path(gossip)%>  </p>
            </div>   
        <% end %> 
    </div>
<div>
</div>
