<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">BIENVENUE <%= @id %> !</h1>
        <p class="lead text-body-secondary">Ici c'est notre super site de potins, il est chouette, non ?</p>

      </div>
    </div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% @gossips.each do |gossip| %> 
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><%= gossip.title %></h5>
                <p class="card-text"><%= gossip.user.first_name %></p>
                <button class="btn btn-light rounded-pill" type="button"> <%= link_to "Gossip", gossip_path(gossip)%>  </button>
                <button class="btn btn-light rounded-pill" type="button"> <%= link_to "Ecrivain", profil_path(gossip)%>  </button>
            </div>
        </div>   
    </div>
    <% end %> 
</div>
</section>

     